<div id="wrap">
<div class="container">
<!-- Fixed navbar -->
<div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Home</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="/about">About</a></li>
                <li><a href="/treatments">Treatments</a></li>
                <li><a href="/practitioners">Practitioners</a></li>
                <li><a href="/clinics">Clinics</a></li>
                <li><a href="/cancer-diets">Cancer Diets</a></li>
                <li class="active"><a href="/resources">Resources</a></li>
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</div>

<!-- Begin page content -->
<h1>Resources</h1>
<div>
    <hr/>
    <ul class="pagination">
        <li><a ng-href="#A">A</a></li>
        <li><a ng-href="#B">B</a></li>
        <li><a ng-href="#C">C</a></li>
        <li><a ng-href="#D">D</a></li>
        <li><a ng-href="#E">E</a></li>
        <li><a ng-href="#F">F</a></li>
        <li><a ng-href="#G">G</a></li>
        <li><a ng-href="#H">H</a></li>
        <li><a ng-href="#I">I</a></li>
        <li><a ng-href="#J">J</a></li>
        <li><a ng-href="#K">K</a></li>
        <li><a ng-href="#L">L</a></li>
        <li><a ng-href="#M">M</a></li>
        <li><a ng-href="#N">N</a></li>
        <li><a ng-href="#O">O</a></li>
        <li><a ng-href="#P">P</a></li>
        <li><a ng-href="#Q">Q</a></li>
        <li><a ng-href="#R">R</a></li>
        <li><a ng-href="#S">S</a></li>
        <li><a ng-href="#T">T</a></li>
        <li><a ng-href="#U">U</a></li>
        <li><a ng-href="#V">V</a></li>
        <li><a ng-href="#W">W</a></li>
        <li><a ng-href="#X">X</a></li>
        <li><a ng-href="#Y">Y</a></li>
        <li><a ng-href="#Z">Z</a></li>
    </ul>
    <h2>A</h2>
    <hr/>
    <a name="A"></a>
    <div class="list-group">
        <a href="/resources/{{resource._id}}" class="list-group-item"
           ng-repeat="resource in resources | filter:{alpha_order:'A'}">{{resource.name}}</a>
    </div>

    <h2>B</h2>
    <hr/>
    <a name="B"></a>
    <div class="list-group">
        <a href="/resources/{{resource._id}}" class="list-group-item"
           ng-repeat="resource in resources | filter:{alpha_order:'B'}">{{resource.name}}</a>
    </div>

    <h2>C</h2>
    <hr/>
    <a name="C"></a>
    <div class="list-group">
        <a href="/resources/{{resource._id}}" class="list-group-item"
           ng-repeat="resource in resources | filter:{alpha_order:'C'}">{{resource.name}}</a>
    </div>

    <h2>D</h2>
    <hr/>
    <a name="D"></a>
    <div class="list-group">
        <a href="/resources/{{resource._id}}" class="list-group-item"
           ng-repeat="resource in resources | filter:{alpha_order:'D'}">{{resource.name}}</a>
    </div>

    <h2>E</h2>
    <hr/>
    <a name="E"></a>
    <div class="list-group">
        <a href="/resources/{{resource._id}}" class="list-group-item"
           ng-repeat="resource in resources | filter:{alpha_order:'E'}">{{resource.name}}</a>
    </div>

    <h2>F</h2>
    <hr/>
    <a name="F"></a>
    <div class="list-group">
        <a href="/resources/{{resource._id}}" class="list-group-item"
           ng-repeat="resource in resources | filter:{alpha_order:'F'}">{{resource.name}}</a>
    </div>

    <h2>G</h2>
    <hr/>
    <a name="G"></a>
    <div class="list-group">
        <a href="/resources/{{resource._id}}" class="list-group-item"
           ng-repeat="resource in resources | filter:{alpha_order:'G'}">{{resource.name}}</a>
    </div>

    <h2>H</h2>
    <hr/>
    <a name="H"></a>
    <div class="list-group">
        <a href="/resources/{{resource._id}}" class="list-group-item"
           ng-repeat="resource in resources | filter:{alpha_order:'H'}">{{resource.name}}</a>
    </div>

    <h2>I</h2>
    <hr/>
    <a name="I"></a>
    <div class="list-group">
        <a href="/resources/{{resource._id}}" class="list-group-item"
           ng-repeat="resource in resources | filter:{alpha_order:'I'}">{{resource.name}}</a>
    </div>

    <h2>J</h2>
    <hr/>
    <a name="J"></a>
    <div class="list-group">
        <a href="/resources/{{resource._id}}" class="list-group-item"
           ng-repeat="resource in resources | filter:{alpha_order:'J'}">{{resource.name}}</a>
    </div>

    <h2>K</h2>
    <hr/>
    <a name="K"></a>
    <div class="list-group">
        <a href="/resources/{{resource._id}}" class="list-group-item"
           ng-repeat="resource in resources | filter:{alpha_order:'K'}">{{resource.name}}</a>
    </div>

    <h2>L</h2>
    <hr/>
    <a name="L"></a>
    <div class="list-group">
        <a href="/resources/{{resource._id}}" class="list-group-item"
           ng-repeat="resource in resources | filter:{alpha_order:'L'}">{{resource.name}}</a>
    </div>

    <h2>M</h2>
    <hr/>
    <a name="M"></a>
    <div class="list-group">
        <a href="/resources/{{resource._id}}" class="list-group-item"
           ng-repeat="resource in resources | filter:{alpha_order:'M'}">{{resource.name}}</a>
    </div>

    <h2>N</h2>
    <hr/>
    <a name="N"></a>
    <div class="list-group">
        <a href="/resources/{{resource._id}}" class="list-group-item"
           ng-repeat="resource in resources | filter:{alpha_order:'N'}">{{resource.name}}</a>
    </div>

    <h2>O</h2>
    <hr/>
    <a name="O"></a>
    <div class="list-group">
        <a href="/resources/{{resource._id}}" class="list-group-item"
           ng-repeat="resource in resources | filter:{alpha_order:'O'}">{{resource.name}}</a>
    </div>

    <h2>P</h2>
    <hr/>
    <a name="P"></a>
    <div class="list-group">
        <a href="/resources/{{resource._id}}" class="list-group-item"
           ng-repeat="resource in resources | filter:{alpha_order:'P'}">{{resource.name}}</a>
    </div>

    <h2>Q</h2>
    <hr/>
    <a name="Q"></a>
    <div class="list-group">
        <a href="/resources/{{resource._id}}" class="list-group-item"
           ng-repeat="resource in resources | filter:{alpha_order:'Q'}">{{resource.name}}</a>
    </div>

    <h2>R</h2>
    <hr/>
    <a name="R"></a>
    <div class="list-group">
        <a href="/resources/{{resource._id}}" class="list-group-item"
           ng-repeat="resource in resources | filter:{alpha_order:'R'}">{{resource.name}}</a>
    </div>

    <h2>S</h2>
    <hr/>
    <a name="S"></a>
    <div class="list-group">
        <a href="/resources/{{resource._id}}" class="list-group-item"
           ng-repeat="resource in resources | filter:{alpha_order:'S'}">{{resource.name}}</a>
    </div>

    <h2>T</h2>
    <hr/>
    <a name="T"></a>
    <div class="list-group">
        <a href="/resources/{{resource._id}}" class="list-group-item"
           ng-repeat="resource in resources | filter:{alpha_order:'T'}">{{resource.name}}</a>
    </div>

    <h2>U</h2>
    <hr/>
    <a name="U"></a>
    <div class="list-group">
        <a href="/resources/{{resource._id}}" class="list-group-item"
           ng-repeat="resource in resources | filter:{alpha_order:'U'}">{{resource.name}}</a>
    </div>

    <h2>V</h2>
    <hr/>
    <a name="V"></a>
    <div class="list-group">
        <a href="/resources/{{resource._id}}" class="list-group-item"
           ng-repeat="resource in resources | filter:{alpha_order:'V'}">{{resource.name}}</a>
    </div>

    <h2>W</h2>
    <hr/>
    <a name="W"></a>
    <div class="list-group">
        <a href="/resources/{{resource._id}}" class="list-group-item"
           ng-repeat="resource in resources | filter:{alpha_order:'W'}">{{resource.name}}</a>
    </div>

    <h2>X</h2>
    <hr/>
    <a name="X"></a>
    <div class="list-group">
        <a href="/resources/{{resource._id}}" class="list-group-item"
           ng-repeat="resource in resources | filter:{alpha_order:'X'}">{{resource.name}}</a>
    </div>

    <h2>Y</h2>
    <hr/>
    <a name="Y"></a>
    <div class="list-group">
        <a href="/resources/{{resource._id}}" class="list-group-item"
           ng-repeat="resource in resources | filter:{alpha_order:'Y'}">{{resource.name}}</a>
    </div>

    <h2>Z</h2>
    <hr/>
    <a name="Z"></a>
    <div class="list-group">
        <a href="/resources/{{resource._id}}" class="list-group-item"
           ng-repeat="resource in resources | filter:{alpha_order:'Z'}">{{resource.name}}</a>
    </div>
</div>
<!-- End page content -->
</div>
</div>